<!DOCTYPE html>

<html lang="en" ng-app="timeApp">

<head>

    <meta charset="UTF-8">

    <title>Document</title>

</head>

<body ng-controller="TimeController as time">
    <h1>Timings</h1>
    <div ng-repeat="getime in timings">
        <blockquote>
            <p>{{geti.name}}</p>
            <div ng-repeat="m in getime.mon">

                {{m.from}} to {{m.to}}
            </div>
            <div ng-repeat="t in getime.tue">
                {{t.from}} to {{t.to}}
            </div>
            <div ng-repeat="w in getime.wed">
                {{w.from}} to {{w.to}}
            </div>
            <div ng-repeat="th in getime.thu">
                {{th.from}} to {{th.to}}
            </div>
            <div ng-repeat="t in getime.tue">
                {{t.from}} to {{t.to}}
            </div>
            <div ng-repeat="f in getime.fri">
                {{f.from}} to {{f.to}}
            </div>
        </blockquote>

    </div>



    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>